.button {
  display: block;

  padding: 0;

  background-color: transparent;

  border: 0;
  cursor: pointer;
}

.button--base {
  padding: 18.5px 20px;

  color: $white;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;

  background-color: $button-color;
  border-radius: 25.5px;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 5px 12px rgba(245, 0, 73, 0.3);

    transition: 0.2s;
  }
}
