.filling__item {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;

  min-width: 240px;
  max-width: 100%;
  margin: 0 auto;

  font-size: 0;

  background-color: $white;
}

.filling__img-wrapper {
  position: relative;

  width: 240px;
  margin: 0 auto 37px;

  background-color: $grey;
}

.filling__img {
  width: 100%;
  image-rendering: crisp-edges;
}

.filling__amount {
  top: 95px;
  right: 7px;
}

.filling__characteristic {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.filling__title {
  flex-grow: 1;
  margin: 0 0 6px;

  font-size: 16px;
  letter-spacing: 0.01em;

  @include circe-bold;
}

.filling__desc {
  flex-grow: 1;
  margin: 0 0 17px;

  font-size: 14px;
}

.filling__price {
  display: block;
  margin-bottom: 23px;

  font-size: 18px;
  text-align: center;

  @include playfair-bold;

  &::after {
    content: " руб/кг";
  }
}

.filling__button {
  width: 178.84px;
  margin: 0 auto;
}
