.hero {
  min-width: 320px;

  background-color: transparent;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;

  padding-top: 128px;
  padding-bottom: 48px;

  @media (min-width: $tablet-width) {
    padding-top: 103px;
    padding-bottom: 144px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 138px;
    padding-bottom: 240px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 18px;

  font-size: 40px;
  line-height: 36px;
  letter-spacing: 0.075em;
  text-align: center;
  @include playfair-bold;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;

    font-size: 60px;
    line-height: 55px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 78.31px;
    line-height: 70px;
  }
}

.hero__subtitle {
  margin-bottom: 22px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;

    font-size: 36px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;

    font-size: 40.83px;
  }
}

.hero__button {
  order: 1;
  width: 226px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    order: 0;
    margin: 0;
    margin-bottom: 162px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 143px;
  }
}

.hero-features__list {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 0;
  }
}

.hero-features__item {
  position: relative;

  padding-left: 42px;

  @media (min-width: $tablet-width) {
    padding-left: 67px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 33px;
    height: 33px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    content: "";

    @media (min-width: $tablet-width) {
      top: auto;
      bottom: -4px;

      width: 55px;
      height: 55px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      margin-right: 70px;
      margin-bottom: 0;
    }
  }
}

.hero-features__item--natural::before {
  background-image: url("../img/features/natural-icon.svg");
}

.hero-features__item--delivery::before {
  background-image: url("../img/features/delivery-icon.svg");
}

.hero-features__desc {
  margin: 0;

  font-size: 14px;

  @media (min-width: $tablet-width) {
    line-height: 18px;
  }
}

.hero-features__desc--natural {
  @media (min-width: $tablet-width) {
    width: 82px;
  }
}

.hero-features__desc--delivery {
  @media (min-width: $tablet-width) {
    width: 167px;
  }
}
