.order {
  min-width: 320px;

  background-color: $pink;
}

.order__title {
  margin-bottom: 8px;

  text-align: center;
}

.order__subtitle {
  margin-bottom: 18px;

  text-align: center;
}

.order__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.order__item {
  padding: 8px 7.14% 26px;

  background-color: $white;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.order__item-title {
  margin: 0 0 15px;

  color: $text-pink;
  font-size: 16px;
  letter-spacing: 0.01em;
  @include playfair-bold;
}

.order__item-number {
  font-size: 30px;
}
