* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: $text-dark;
  font-style: normal;

  background-color: $pink;

  @include circe;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);

  clip-path: inset(100%);
}

.container {
  width: 87.5%;
  min-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 94.7%;
    min-width: 728px;
  }
  //
  // @media (min-width: $desktop-width) {
  //   width: 1170px;
  // }
}

.container--small {
  @media (min-width: $tablet-width) {
    width: 88%;
    min-width: 676px;
  }
}
