* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: $text-dark;
  font-style: normal;

  background-color: $pink;
  background-image: url("../img/body/cake-bg-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top -166px center;
  background-size: 391px 391px;

  @include circe;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/body/cake-bg-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/body/strawberry-half-bg-tablet.png"),
      url("../img/body/raspberry-bg-tablet.png"),
      url("../img/body/strawberry-bg-tablet.png"),
      url("../img/body/cake-bg-tablet@1x.png");
    background-position: top 90px left calc(50% - 24px),
      top 310px left calc(50% - 73px), top 458px left calc(50% - 62.5px),
      top 73px left calc(50% + 234.5px);
    background-size: 72px 71px, 40px 39px, 99px 71px, 570px 571px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/body/strawberry-half-bg-tablet.png"),
        url("../img/body/raspberry-bg-tablet.png"),
        url("../img/body/strawberry-bg-tablet.png"),
        url("../img/body/cake-bg-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/body/cake-bg-desktop@1x.png");
    background-position: top 104px left calc(50% + 383.5px);
    background-size: 940px 941px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/body/cake-bg-desktop@2x.png");
    }
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);

  clip-path: inset(100%);
}

.container {
  width: 87.5%;
  min-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 94.7%;
    min-width: 728px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.container--small {
  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    width: 88%;
    min-width: 676px;
  }
}

.title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;

  @include playfair-bold;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 39.34px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 65.96px;
  }
}

.subtitle {
  margin: 0;

  color: $text-darkblue;

  font-size: 22px;
  @include intro;
}
