@mixin circe {
  font-family: "Circe", "Arial", sans-serif;
}

@mixin circe-bold {
  font-family: "Circe Bold", "Arial", sans-serif;
}

@mixin playfair-bold {
  font-weight: 700;
  font-family: "Playfair Display", "Times New Roman", serif;
}

@mixin intro {
  font-family: "Intro Script R H2 Base";
}

@mixin circle($size) {
  width: $size;
  height: $size;

  border: 5px dotted $black;

  border-radius: 50%;
}

@mixin price {
  &::after {
    content: " руб/кг";
  }
}
