//breakpoints
$tablet-width: 768px;
$desktop-width: 1366px;

$mobile-width-only: 767px;

//retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//colors
$white: #ffffff;
$black: #000000;
$grey: #e7e7e7;
$pink: #fbebea;
$darkpink: #f50049;

$text-dark: $black;
$nav-text: #383838;
// $text-light: $;
